<h1>Notice </h1>
<div class="row" id="Notice">


 <div class="col-md-8 col-md-offset-2 col-12" style="  margin-bottom:1%;"  ><br>
    <p class="badge badge-primary" style="padding:4%;">Tomarow the guest lecture wiil arranged at 12.30 am .</p>
    <p style="color:grey; ">12/08/2020  12.45pm</p><hr>
 </div>

 <div class="col-md-8 col-md-offset-2 col-12  " style="  margin-bottom:1%;"  >
    <p class="badge badge-primary" style="padding:4%;">Tomarow the nbvbvkb,n guest l h hjb jhv hj vhjv hj vecture wiil arranged at 12.30 am .</p>
    <p style="color:grey; ">12/08/2020  12.45pm</p><hr>
 </div>
 <div class="col-md-8 col-md-offset-2 col-12 " style="  margin-bottom:1%;"  >
    <p class="badge badge-primary" style="padding:4%;">Tomarow the guest lecture wiil arranged at 12.30 am .</p>
    <p style="color:grey; ">12/08/2020  12.45pm</p><hr>
 </div>
 <div class="col-md-8 col-md-offset-2 col-12 " style="  margin-bottom:1%;"  >
    <p class="badge badge-primary" style="padding:4%;">Tomarow the gueshvh vhv jhvh vh vhj vjt lecture wiil arranged at 12.30 am .</p>
    <p style="color:grey; ">12/08/2020  12.45pm</p><hr>
 </div>
 <div class="col-md-8 col-md-offset-2 col-12 " style="  margin-bottom:1%;"  >
    <p class="badge badge-primary" style="padding:4%;">Tomarow the guest lecture wiil arra hjbkjnged at 12.30 am .</p>
    <p style="color:grey; ">12/08/2020  12.45pm</p><hr>
 </div>
</div>
