<div class="container1">
  <div class="row">
        <nav class="navbar navbar-expand-md  navbar-dark sticky-top w-100">
          <div class="col-md-3 col-12">
            <div style="width:auto;">
              <a style="font-size:2rem; color:white;" class="navbar-brand" routerLink="/"><b>SchoolName</b></a>
            </div>
          </div>

        <div class="col-md-1 col-3">

                <a style="font-size:1.6rem; color:white;" class="nav-link" routerLink="/"> Home</a>
        </div>
        <div class="col-md-4 col-4">

                <a style="font-size:1.6rem; color:white; " class="nav-link" routerLink="/about-us"> About </a>

          </div>

          <div class="col-md-2 col-2">
            <div class="nav-item" >
                  <img  style="width:auto; height:3rem; float:right;" routerLink="/notification" src="assets/not.gif" >
            </div>
          </div>
          <div class="col-md-2 col-2">
            <div class="nav-item">
                  <img   style="width:auto; height:4rem; float:right; " src="assets/profile.png" >
            </div>
          </div>

        </nav>
  </div>
</div>


<!--<nav class="navbar navbar-expand-md  navbar-dark sticky-top">
  <a style="font-size:2.5rem; color:white;" class="navbar-brand" routerLink="/"><b>SchoolName</b></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar" >
    <ul class="navbar-nav" style="margin-left:5%;" >
      <li class="nav-item" >
        <a style="font-size:1.6rem; color:white; margin-right:5%;" class="nav-link" routerLink="/"> Home</a>
      </li>
      <li class="nav-item" >
        <a style="font-size:1.6rem; color:white; " class="nav-link" routerLink="/about-us"> About </a>
      </li>

    </ul>
  </div>
  <div class="nav-item" >
        <img  style="width:20%; margin-left:85%;" routerLink="/notification" src="assets/not.gif" >
  </div>
  <div class="nav-item">
        <img  style="width:40%;  margin-left:45%;" src="assets/profile.png" >
  </div>

</nav>-->
