<div class="row">

<div class="col-md-4 col-6"><br>
    <div class="card" style=" border:1px solid black;">
    <div style="padding:3%;">
      <div >
        <h1>Maths <span class="h5" style="color:red; font-size:1rem;"> 12/05/2020</span></h1>
      </div><hr>
      <div >
      <h4> Lets test your maths knowledge</h4>
      <button class="btn btn-sm btn-success "style="margin-left:60%; font-size:1rem;" >Start Test</button>
      </div>
    </div>
    </div>
    </div>
    <div class="col-md-2 col-6" ><br><br>
    <h5> 1 hr 30 min</h5>
    <p class="badge badge-primary" style="font-size:100%; ">your mark = 26</p>
    <h4 >mark = 30</h4>
    <h3 style="color:green">pass</h3>
  </div>

  <div class="col-md-4 col-6"><br>
    <div class="card" style=" border:1px solid black;">
    <div style="padding:3%;">
      <div >
        <h1>English <span class="h5" style="color:red; font-size:1rem;"> 12/05/2020</span></h1>
      </div><hr>
      <div >
      <h4> Lets test your maths knowledge</h4>
      <button class="btn btn-sm btn-success "style="margin-left:60%; font-size:1rem;" >Start Test</button>
      </div>
    </div>
    </div>
  </div>
  <div class="col-md-2 col-6"><br><br>
  <h5> 1 hr 30 min</h5>
  <p class="badge badge-primary" style="font-size:100%;">your mark = 26</p>
  <h4 >mark = 30</h4>
  <h3 style="color:orange">pending</h3>
  </div>


  <div class="col-md-4 col-6"><br>
    <div class="card" style=" border:1px solid black;">
    <div style="padding:3%;">
      <div >
        <h1>Hindi <span class="h5" style="color:red; font-size:1rem;"> 12/05/2020</span></h1>
      </div><hr>
      <div >
      <h4> Lets test your maths knowledge</h4>
      <button class="btn btn-sm btn-success "style="margin-left:60%; font-size:1rem;" >Start Test</button>
      </div>
    </div>
    </div>
  </div>
  <div class="col-md-2 col-6"><br><br>

  <h5> 1 hr 30 min</h5>
  <p class="badge badge-primary" style="font-size:100%;">your mark = 26</p>
  <h4 >mark = 30</h4>
  <h3 style="color:red">fail</h3>
  </div>

</div>
