

<div class="row" id="homework"><br>



<div class="col-md-4 col-6"    >
    <div class="card" style="padding:1%;margin-top:5%;" >
        <h3 class=" badge badge-lg badge-primary" >subject</h3>
        <p >one array with multiple objects, add two more objects.</p>
        <p style="color: green;"> Given: 21/06/2020 </p>
        <p style="color: red ;">deadline: 25/06/2020</p>
    </div>
 </div>

 <div class="col-md-4 col-6"    >
    <div class="card" style="padding:1%;margin-top:5%;" >
        <h3 class=" badge badge-lg badge-primary" >subject</h3>
        <p >one array with multiple objects, add two more objects.</p>
        <p style="color: green;"> Given: 21/06/2020 </p>
        <p style="color: red ;">deadline: 25/06/2020</p>
    </div>
 </div>

 <div class="col-md-4 col-6"    >
    <div class="card" style="padding:1%;margin-top:5%;" >
        <h3 class=" badge badge-lg badge-primary" >subject</h3>
        <p >one array with multiple objects, add two more objects.</p>
        <p style="color: green;"> Given: 21/06/2020 </p>
        <p style="color: red ;">deadline: 25/06/2020</p>
    </div>
 </div>

 <div class="col-md-4 col-6"    >
    <div class="card" style="padding:1%;margin-top:5%;" >
        <h3 class=" badge badge-lg badge-primary" >subject</h3>
        <p >one array with multiple objects, add two more objects.</p>
        <p style="color: green;"> Given: 21/06/2020 </p>
        <p style="color: red ;">deadline: 25/06/2020</p>
    </div>
 </div>

 <div class="col-md-4 col-6"    >
    <div class="card" style="padding:1%;margin-top:5%;" >
        <h3 class=" badge badge-lg badge-primary" >subject</h3>
        <p >one array with multiple objects, add two more objects.</p>
        <p style="color: green;"> Given: 21/06/2020 </p>
        <p style="color: red ;">deadline: 25/06/2020</p>
    </div>
 </div>
 <div class="col-md-4 col-6"    >
    <div class="card" style="padding:1%;margin-top:5%;" >
        <h3 class=" badge badge-lg badge-primary" >subject</h3>
        <p >one array with multiple objects, add two more objects.</p>
        <p style="color: green;"> Given: 21/06/2020 </p>
        <p style="color: red ;">deadline: 25/06/2020</p>
    </div>
 </div><div class="col-md-4 col-6"    >
    <div class="card" style="padding:1%;margin-top:5%;" >
        <h3 class=" badge badge-lg badge-primary" >subject</h3>
        <p >one array with multiple objects, add two more objects.</p>
        <p style="color: green;"> Given: 21/06/2020 </p>
        <p style="color: red ;">deadline: 25/06/2020</p>
    </div>
 </div>
 <div class="col-md-4 col-6"    >
    <div class="card" style="padding:1%;margin-top:5%;" >
        <h3 class=" badge badge-lg badge-primary" >subject</h3>
        <p >one array with multiple objects, add two more objects.</p>
        <p style="color: green;"> Given: 21/06/2020 </p>
        <p style="color: red ;">deadline: 25/06/2020</p>
    </div>
 </div>
 <div class="col-md-4 col-6"    >
    <div class="card" style="padding:1%;margin-top:5%;" >
        <h3 class=" badge badge-lg badge-primary" >subject</h3>
        <p >one array with multiple objects, add two more objects.</p>
        <p style="color: green;"> Given: 21/06/2020 </p>
        <p style="color: red ;">deadline: 25/06/2020</p>
    </div>
 </div>
 <div class="col-md-4 col-6"    >
    <div class="card" style="padding:1%;margin-top:5%;" >
        <h3 class=" badge badge-lg badge-primary" >subject</h3>
        <p >one array with multiple objects, add two more objects.</p>
        <p style="color: green;"> Given: 21/06/2020 </p>
        <p style="color: red ;">deadline: 25/06/2020</p>
    </div>
 </div>

 <div class="col-md-4 col-6"    >
    <div class="card" style="padding:1%;margin-top:5%;" >
        <h3 class=" badge badge-lg badge-primary" >subject</h3>
        <p >one array with multiple objects, add two more objects.</p>
        <p style="color: green;"> Given: 21/06/2020 </p>
        <p style="color: red ;">deadline: 25/06/2020</p>
    </div>
 </div>
<br>

</div>
