#homework{
  background-image: url('/assets/a9.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
background-size: cover;
height:auto;

}
.card{
  margin-top:5%;opacity: 0.7;
  /* border: 1px solid black; */
  /* background-image: url('/assets/s1.jpg'); */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
/* background-size: cover; */

}
.badge{
  color: white;
  padding: 2%;
  margin-left: 30%;
  margin-right: 30%;
  font-size: large;
}
