<div id="note"><br><br>

<div class="row">
<div class="col-md-7 col-12" >
 <button type="button" id="physics" style="width:100%; padding:5%;font-size:20px;" class="btn btn-primary" data-toggle="collapse" data-target="#demo"><b>Physics</b></button>

</div>


</div>

<div class="row collapse" id="demo" >
  <div class="col-md-4 col-10 offset-1">
    <div class="card" style="border:1px solid black;" id="Physics">
    <div style="padding:5%;">
      <div class="card-title">
        <h1>Physics</h1>
      </div><hr>
      <div class="card-body">
      <h4> Chapter 1: hello guys , How are you? </h4>
      </div>
    </div>
    </div>
  </div>


  <div class="col-md-4 col-10 offset-1">
    <div class="card" style=" border:1px solid black;" id="Physics">
    <div style="padding:5%;">
      <div class="card-title">
        <h1>Physics</h1>
      </div><hr>
      <div class="card-body">
      <h4> Chapter 2: hello guys , How are you? </h4>
      </div>
    </div>
    </div>
  </div>


  <div class="col-md-4 col-10 offset-1">
    <div class="card" style="border:1px solid black;" id="Physics">
    <div style="padding:5%;">
      <div class="card-title">
        <h1>Physics</h1>
      </div><hr>
      <div class="card-body">
      <h4> Chapter 3: hello guys , How are you? </h4>
      </div>
    </div>
    </div>
  </div>


  <div class="col-md-4 col-10 offset-1">
    <div class="card" style=" border:1px solid black;" id="Physics">
    <div style="padding:5%;">
      <div class="card-title">
        <h1>Physics</h1>
      </div><hr>
      <div class="card-body">
      <h4> Chapter 5: hello guys , How arehjgliugugkl you? </h4>
      </div>
    </div>
    </div>
  </div>
  </div>



<div class="row">
<div class="col-md-7 col-12" >
 <button type="button" id="chemistry" style="width:100%; padding:5%;font-size:20px;" class="btn btn-primary" data-toggle="collapse" data-target="#demo3"><b>Chemistry</b></button>
</div>
</div>

<div class="row collapse" id="demo3" >
  <div class="col-md-4 col-10 offset-1">
    <div class="card" style="border:1px solid black;" id="Chemistry">
    <div style="padding:5%;">
      <div class="card-title">
        <h1>Physics</h1>
      </div><hr>
      <div class="card-body">
      <h4> Chapter 1: hello guys , How are you? </h4>
      </div>
    </div>
    </div>
  </div>


  <div class="col-md-4 col-10 offset-1">
    <div class="card" style=" border:1px solid black;" id="Chemistry">
    <div style="padding:5%;">
      <div class="card-title">
        <h1>Physics</h1>
      </div><hr>
      <div class="card-body">
      <h4> Chapter 2: hello guys , How are you? </h4>
      </div>
    </div>
    </div>
  </div>


  <div class="col-md-4 col-10 offset-1">
    <div class="card" style=" border:1px solid black;" id="Chemistry">
    <div style="padding:5%;">
      <div class="card-title">
        <h1>Physics</h1>
      </div><hr>
      <div class="card-body">
      <h4> Chapter 3: hello guys , How are you? </h4>
      </div>
    </div>
    </div>
  </div>


  <div class="col-md-4 col-10 offset-1">
    <div class="card" style=" border:1px solid black;" id="Chemistry">
    <div style="padding:5%;">
      <div class="card-title">
        <h1>Physics</h1>
      </div><hr>
      <div class="card-body">
      <h4> Chapter 5: hello guys , How are you? </h4>
      </div>
    </div>
    </div>
  </div>
  </div>


<div class="row">
<div class="col-md-7 col-12">
 <button type="button" id="maths" style="width:100%; padding:5%;font-size:20px;" class="btn btn-primary" data-toggle="collapse" data-target="#demo4"><b>Maths</b></button>

</div>


</div>

<div class="row collapse" id="demo4" >
  <div class="col-md-4 col-10 offset-1">
    <div class="card" style="border:1px solid black;" id="Maths">
    <div style="padding:5%;">
      <div class="card-title">
        <h1>Physics</h1>
      </div><hr>
      <div class="card-body">
      <h4> Chapter 1: hello guys , How are you? </h4>
      </div>
    </div>
    </div>
  </div>


  <div class="col-md-4 col-10 offset-1">
    <div class="card" style=" border:1px solid black;" id="Maths">
    <div style="padding:5%;">
      <div class="card-title">
        <h1>Physics</h1>
      </div><hr>
      <div class="card-body">
      <h4> Chapter 2: hello guys , How are you? </h4>
      </div>
    </div>
    </div>
  </div>


  <div class="col-md-4 col-10 offset-1">
    <div class="card" style="border:1px solid black;" id="Maths">
    <div style="padding:5%;">
      <div class="card-title">
        <h1>Physics</h1>
      </div><hr>
      <div class="card-body">
      <h4> Chapter 3: hello guys , How are you? </h4>
      </div>
    </div>
    </div>
  </div>


  <div class="col-md-4 col-10 offset-1">
    <div class="card" style=" border:1px solid black;" id="Maths">
    <div style="padding:5%;">
      <div class="card-title">
        <h1>Physics</h1>
      </div><hr>
      <div class="card-body">
      <h4> Chapter 5: hello guys , How arehjgliugugkl you? </h4>
      </div>
    </div>
    </div>
  </div>
  </div>




